body{
    margin: 0;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(247, 244, 244);
}

p{
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}

@media (min-width: 1000px){
    body{
        padding-left: 135px;
        padding-top: 90px;
    }
}